@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&family=Oleo+Script&family=Satisfy&display=swap');
*{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: rgb(196, 235, 222);
  margin: 0;
}
body {
  margin: 0 150px;
  max-width: 1200px;
  position: relative;
  height: 100vh;
  flex-direction: column;
  bottom: 0;
}
h1 {
  margin: 5% auto;
  font-size: 3rem;
  color: rgb(2, 54, 72);
  font-family: 'Oleo Script', cursive;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
input {
  text-align: left;
  font-size: 20px;
  height: 40px;
  border-radius: 3px;
  border: 3px solid black;
  font-family: cursive;
  outline: none;
  position: relative;
  
}
input:hover {
  background-color: rgb(213, 232, 250);
  box-shadow: 7px 12px 9px -1px rgba(150, 150, 150, 0.05);
}
button {
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 0 3 5;
  height: fit-content;
  width:fit-content;
  min-width: 120px;
  min-height: 40px;
  border-radius: 5px;
  border: 3px solid rgb(23, 23, 23);
  background-color: rgb(2, 54, 72);
  color: #fff;
  box-shadow: 7px 9px 7px -1px rgba(164, 164, 164, 0.479)
}

button:hover {
  height: 40px;
  transition: background-color 1s linear ;
  font-size: 20px;
  font-weight: bold;
}
button:active,
#clear:active {
  background-color: rgb(242, 95, 10);
  color: rgb(2, 54, 72);
  transition: background-color 0.8ms linear;
  margin-top: 8px;
  margin-bottom: 2px;
  box-shadow: 7px 12px 9px -1px rgba(150, 150, 150, 0.05);
  font-weight: bold;
  user-select: none;
}
ol {
  margin-top: 20px;
}
ol li {
  text-align: left;
  font-size: 22px;
  font-family: 'Satisfy', cursive;
  padding: 12px 8px 12px 50px;
  position: relative;
  user-select: none; /*select all sentence */
  cursor: pointer;
  color:rgb(23, 23, 23);
  transition: color 1s;
  letter-spacing: 2px;
}
ol li::before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-image: url(/ToDoList/images/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
  transition: 1s;
}

ol li:nth-child(odd) {
  background-color: rgb(164, 221, 211);
}
ol li::first-letter {
  text-transform: uppercase;
}
ol li.checked {
  color: rgb(242, 95, 10);
  text-decoration: line-through;
  transition: all 1s;
}
ol li.checked::before {
  background-image: url(images/checked.png);
  transition: all 0.5s;         
}
ol li::marker {
  font-weight: bold;
}
@media (max-width: 580px) {
  body {
    margin: 10px;
  }
  #linkedin {
    margin-right: 20px;
  }
}
ol li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 32px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
}
ol li span:hover {
  background-color: rgb(142, 184, 184);
  color: red;
}

#clear {
  position: relative;
  top: 20px;
  background-color: rgb(2, 54, 72);
  color: #fff;
  text-align: center;
}


footer {
  position: relative;
  margin-bottom: 0;
  color:rgb(23, 23, 23);
  height: 40px;
  max-width: 1200px;
  margin-top: 50vh;
  display: block;
  
}
.footer_container {
  display: flex;
  justify-content: space-around;
  align-items:center;
}
i {
  font-family: 'Satisfy', cursive;
}
span {
  color: red;
  font-size: 18px;
  line-height: 1.2rem;
}
hr {
  margin-left: 40px;
  margin-top: 40px;
  overflow: hidden;
}
.link {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#linkedin {
  justify-self: flex-start;
  margin-right: 30px;
  left: 0;
  text-align: end;
}
#github {
  color: #171515;
  justify-self: flex-end;
}
#linkedin {
  color: #0072b1;
}
.fa:hover  {
  background-color: #f0ecec;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  border-radius: 5px;
}

